---
page_title: "Provider: Enos"
subcategory: ""
description: |-
  A terraform provider that provides resouces for powering Software Quality as Code by writing
Terraform-based quality requirement scenarios using a composable, modular, and declarative language.

---

# Enos Provider

## Example Usage

Do not keep your authentication password in HCL for production environments, use Terraform environment variables.

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
